<!DOCTYPE html>
<html>
    <title>Oauth 2.0 Example</title>
    <head>
        <body>
            <h1>Welcome to Oauth 2.0 Example</h1>
            <a href="/auth/google">
            <button>Login with Google</button>
            </a>
        </body>
    </head>
</html>